.container {
    width:900px;
  
      display: flex;
    flex-direction: row;
    
    
    }
   
   .box  {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  
    flex-basis: 25%;
      width: 400px;
      height: 100px;
      background-color: #ead98c;
      margin: 8px;
      border-style: inset;
      
      border-radius: 10px;
    
    }

    .multiplier {
      display: flex;
      flex-direction: row;
      padding: 1em;
      
      margin: 10px;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}
li {
  padding: 15px;
}

   